head {
    background-color: antiquewhite;
    font-family: "Protest Guerrilla", sans-serif;
    color:rgb(145, 84, 75);
}

body {
    background-color: antiquewhite;
    font-family: "Protest Guerrilla", sans-serif; 
    color:rgb(145, 84, 75)
}

.reserved {
    border: 1px solid red;
}

